.container {
  background-color: #24292f;
  color: white;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4.5rem 1rem 4.5rem;
  z-index: 10;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 7.5);
}
.container h1 {
  font-weight: bold;
  font-size: 40px;
}
.container ul {
  display: flex;
}
.container ul li {
  margin-left: 50px;
  font-size: 18px;
  font-weight: bold;
}
.container ul li:active {
  color: red;
}
.container ul li i {
  font-size: 25px;
}
